{{#each this}}
<li class="card__country">
<h1 class="card__country-name" >{{name}}</h1>  
    <div class="card__container">
        <p class="card__capital">Capital: {{capital}}</p>
        <p class="card__population">Population: {{population}}</p>
        <ul class="card__languages">
            {{#each languages}}
                <li>Languages: {{this.name}}</li>
            {{/each}}
        </ul>
    </div>
 <img src="{{flag}}" alt="{{name}}" width="320" class="card__flag">
</li>
{{/each}}

